<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>DATVSM</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" href="/static/fonts/fonts.css"/>
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet"/>
        <!-- javascript for gauges -->
        <script src="/static/js/gauge.min.js"></script>
        <!-- jquery -->
        <script src="/static/js/jquery.min.js"></script>
    </head>
    <body class="d-flex flex-column h-100" onresize="reload_page()">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid"><a class="navbar-brand" href="#">HB9IIU DATV Station Monitor</a>
                    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item active"><a aria-current="page" class="nav-link"><button type="button" class="btn btn-light btn-sm" onclick="Clicked_Button()" id="PTT_button" style="width: 78px;">PTT ON</button></a>
                            </li>
                            <li class="nav-item active"><a aria-current="page" class="nav-link" href="#"> <img id="led" src="../static/img/greyled.png" style="width: 30px;"/></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="index.html">Radial</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="graph.html">History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container">
                <div class="row" style="margin-top: 15px;">
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-3 col-xxl-3" style="text-align: center; margin-bottom: -40px;">
                        <canvas class="text-center" id="Volt_Meter" style="font-family: 'Aldrich', sans-serif;"></canvas>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-3 col-xxl-3" style="text-align: center; margin-bottom: -120px;">
                        <canvas class="text-center" id="Ampere_Meter"></canvas>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-3 col-xxl-3" style="text-align: center; margin-bottom: -120px;">
                        <canvas class="text-center" id="Thermo_Meter_PA"></canvas>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-3 col-xxl-3" style="text-align: center; margin-bottom: -120px;">
                        <canvas class="text-center" id="Thermo_Meter_Room"></canvas>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container"><span class="text-muted">Ⓒ D.Staempfli 2022</span>
            </div>
        </footer>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
    <script>


   var gauge_width=400

    var VOLTMETER = new LinearGauge({
        renderTo: 'Volt_Meter',
        width: gauge_width,
        height: 220,
        units: "",
        minValue: 22,
        maxValue: 32,
        majorTicks: [ 22, 23, 24, 25, 26, 27, 28, 29, 30,31,32],
        valueBox: false,
        barBeginCircle: false,
        borders: false,
        borderShadowWidth: 0,
        strokeTicks: true,
        value: 0,
        tickSide: "left",
        numberSide: "left",
        animation: true,
        animationRule: 'linear',
        animationDuration: 0,
        colorMinorTicks: "#8c8989",
        colorUnits: "black",
        fontNumbers: "Led",
        fontUnits: "Led",
        fontUnitsSize: 36,
        fontUnitsStyle: "bold",
        barWidth: 6,
        needleSide:"left",
        needleWidth:15,
        highlights: [{from: 22, to: 25, color: "rgb(241,221,0)"},
            {from: 25, to: 29, color: "rgb(80,241,0)"},
            {from: 29, to: 30, color: "rgb(241,221,0)"},
            {from: 30, to: 32, color: "rgb(238,19,19)"}
        ],

    });






    var AMMETER = new LinearGauge({
        renderTo: 'Ampere_Meter',
        width: gauge_width,
        height: 220,
        units: "",
        minValue: 0,
        maxValue: 12,
        majorTicks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        valueBox: false,
        barBeginCircle: false,
        borders: false,
        borderShadowWidth: 0,
        strokeTicks: true,
        value: 0,
        tickSide: "left",
        numberSide: "left",
        animation: true,
        animationRule: 'linear',
        animationDuration: 0,
        colorMinorTicks: "#8c8989",
        colorUnits: "black",
        fontNumbers: "Led",
        fontUnits: "Led",
        fontUnitsSize: 36,
        fontUnitsStyle: "bold",
        barWidth: 6,
        needleSide:"left",
        needleWidth:15,
        highlights: [{from: 0, to: 8, color: "rgb(80,241,0)"},
            {from: 8, to: 10, color: "rgb(241,221,0)"},
            {from: 10, to: 12, color: "rgb(241,0,0)"}
        ],

    });













    var THERMOMETER_PA = new LinearGauge({
        renderTo: 'Thermo_Meter_PA',
        width: gauge_width,
        height: 220,
        units: "",
        minValue: 20,
        maxValue: 50,
        majorTicks: [ 20, 25, 30, 35, 40, 45, 50],
        valueBox: false,
        barBeginCircle: false,
        borders: false,
        borderShadowWidth: 0,
        strokeTicks: true,
        value: 0,
        tickSide: "left",
        numberSide: "left",
        animation: true,
        animationRule: 'linear',
        animationDuration: 0,
        colorMinorTicks: "#8c8989",
        colorUnits: "black",
        fontNumbers: "Led",
        fontUnits: "Led",
        fontUnitsSize: 36,
        fontUnitsStyle: "bold",
        barWidth: 6,
        needleSide:"left",
        needleWidth:15,
        highlights: [{from: 20, to: 35, color: "rgb(80,241,0)"},
            {from: 35, to: 45, color: "rgb(241,221,0)"},
            {from: 45, to: 50, color: "rgb(241,0,0)"}
        ],
    });


    var THERMOMETER_ROOM = new LinearGauge({
        renderTo: 'Thermo_Meter_Room',
        width: gauge_width,
        height: 220,
        units: "",
        minValue: -5,
        maxValue: 35,
        majorTicks: [-5, 0, 5, 10, 15, 20, 25, 30, 35],
        valueBox: false,
        barBeginCircle: false,
        borders: false,
        borderShadowWidth: 0,
        strokeTicks: true,
        value: 0,
        tickSide: "left",
        numberSide: "left",
        animation: true,
        animationRule: 'linear',
        animationDuration: 0,
        colorMinorTicks: "#8c8989",
        colorUnits: "black",
        fontNumbers: "Led",
        fontUnits: "Led",
        fontUnitsSize: 36,
        fontUnitsStyle: "bold",
        barWidth: 6,
        needleSide:"left",
        needleWidth:15,
        highlights: [{from: -5, to: 0, color: "rgb(241,0,0)"},
            {from: 0, to: 25, color: "rgb(80,241,0)"},
            {from: 25, to: 35, color: "rgb(241,221,0)"}
        ],
    });




  

    function Clicked_Button() {

       var status=document.getElementById("PTT_button").innerHTML
        console.log(status)
        if (status=="PTT ON")   {
            document.getElementById("PTT_button").innerHTML="PTT OFF"
           document.getElementById('led').src='../static/img/redled.png'
            var relay_status=1
        }else{
            document.getElementById("PTT_button").innerHTML="PTT ON"
            var relay_status=0
            document.getElementById('led').src='../static/img/greyled.png'

        }

        $.ajax({
            url: '/askpython',
            type: "POST",
            data: JSON.stringify({
                Instruction: "Control_PTT_Relay",
                Argument_1: relay_status,
                Argument_2: 0
            }),
            contentType: 'application/json;charset=UTF-8',
            // If we receive a reply from server
            success: function (response) {
                console.log(response);
            }
        })


    }




    function get_all_values() {

        $.ajax({
            url: '/askpython',
            type: "POST",
            data: JSON.stringify({
                Instruction: "get_data",
                Argument_1: 0,
                Argument_2: 0
            }),
            contentType: 'application/json;charset=UTF-8',
            // If we receive a reply from server
            success: function (response) {
                console.log(response);
                Voltage = response.Voltage.toFixed(1)
                Current = response.Current.toFixed(1)
                Temperature_PA= response.Temperature_PA.toFixed(1)
                Temperature_Ambient= response.Temperature_Ambient.toFixed(1)
                console.log("Volts: " + Voltage);
                console.log("Ampere: " + Current);
                console.log("Temperature PA: " +Temperature_PA);
                console.log("Temperature Ambient: "+Temperature_Ambient );
                //VOLTMETER.update({units: VolOLTMETER.update({units: Voltatage.toFixed(1) + ' V', value: Voltage.toFixed(1) ,  animationRule: 'bounce',     animationDuration: 500   });
                VOLTMETER.value = Voltage
                VOLTMETER.update({units: Voltage + ' V'});
                AMMETER.value = Current
                AMMETER.update({units: Current + ' A'});
                THERMOMETER_ROOM.value=Temperature_Ambient
                THERMOMETER_ROOM.update({units: "AIR:"+Temperature_Ambient + ' °C'});
                THERMOMETER_PA.value=Temperature_PA
                THERMOMETER_PA.update({units: "PA:"+Temperature_PA + ' °C'});
            }
        })
    }




    const sleepNow = (delay) => new Promise((resolve) => setTimeout(resolve, delay))


    async function init_instruments() {
        var meter_animation_duration =300;
        VOLTMETER.update({animationDuration: meter_animation_duration});
        AMMETER.update({animationDuration: meter_animation_duration});
        THERMOMETER_PA.update({animationDuration: meter_animation_duration});
        THERMOMETER_ROOM.update({animationDuration: meter_animation_duration});

        VOLTMETER.draw();
        AMMETER.draw();
        THERMOMETER_PA.draw();
        THERMOMETER_ROOM.draw();

        VOLTMETER.value = VOLTMETER.options.maxValue;
        AMMETER.value = AMMETER.options.maxValue;
        THERMOMETER_PA.value = THERMOMETER_PA.options.maxValue;
        THERMOMETER_ROOM.value = THERMOMETER_ROOM.options.maxValue;
        await sleepNow(meter_animation_duration)
        VOLTMETER.value = VOLTMETER.options.minValue;
        AMMETER.value = AMMETER.options.minValue;
        THERMOMETER_PA.value = THERMOMETER_PA.options.minValue;
        THERMOMETER_ROOM.value = THERMOMETER_ROOM.options.minValue;


        await sleepNow(meter_animation_duration)
        meter_animation_duration=1000
        VOLTMETER.update({animationDuration: meter_animation_duration});
        AMMETER.update({animationDuration: meter_animation_duration});
        THERMOMETER_PA.update({animationDuration: meter_animation_duration});
        THERMOMETER_ROOM.update({animationDuration: meter_animation_duration});


        get_all_values()
        setInterval(function () {
            get_all_values()
        }, 1000);
    }


    function get_PTT_status() {
        $.ajax({
            url: '/askpython',
            type: "POST",
            data: JSON.stringify({
                Instruction: "Get_PTT_Status",
                Argument_1: 0,
                Argument_2: 0
            }),
            contentType: 'application/json;charset=UTF-8',
            // If we receive a reply from server
            success: function (response) {
                console.log(response);
                status=response
                if (status=="1")   {
                    document.getElementById("PTT_button").innerHTML="PTT OFF"
                    document.getElementById('led').src='../static/img/redled.png'
                }else{
                    document.getElementById("PTT_button").innerHTML="PTT ON"
                    document.getElementById('led').src='../static/img/greyled.png'
                }
            }
        })
    }

    function reload_page() {
        console.log("Hello")
        location.reload();
    }



    window.addEventListener('load', function () {

        get_PTT_status()

        document.fonts.ready
            .then(() => {
                init_instruments()
            })
            .catch(() => {
                console.log("Error");
            });
    });



</script>
</html>
