<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>DATVSM</title>
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/fonts/fonts.css" rel="stylesheet"/>
    <!-- javascript for gauges -->
    <script src="/static/js/gauge.min.js"></script>
    <!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
     <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&display=swap"/>
</head>
<body>
<canvas id="Ampere_Meter"></canvas>
</body>
<script>
    const colorPlate = "#00000800";
    const fontUnitsSize = 55;
    const fontNumbersSize = 26;
    const colorNumbers = "rgb(255,255,255)";
    const colorValueText = "rgb(255,255,255)";
    const colorUnits = "rgb(255,255,255)";
    const colorBar= '#ececec';
    const colorBarProgress='#d1d1d1';
    const colorMinorTicks= "#8c8989";
    const fontUnits='Aldrich';

       var AMMETER = new RadialGauge({
           renderTo: 'Ampere_Meter',
           colorPlate: colorPlate,
           height: 400,
           units: "",
           minValue: 0,
           maxValue: 12,
           majorTicks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
           startAngle: 90,
           ticksAngle: 180,
           needleEnd: 95,
           needleShadow: true,
           barWidth: 6,
           colorBar: colorBar,
           colorBarProgress: colorBarProgress,
           borders: false,
           borderShadowWidth: 0,
           strokeTicks: true,
           valueBox: false,
           value: 0,
           animation: true,
           animationRule: 'linear',
           animationDuration: 0,
           colorMinorTicks: colorMinorTicks,
           fontUnits: fontUnits,
           fontUnitsSize: 55,
           fontNumbersSize: 26,
           fontNumbers: fontUnits,
           fontUnitsStyle: "bold",
           colorNumbers:colorNumbers,
           colorValueText:colorValueText,
           colorUnits:colorUnits,
           highlights: [{from: 0, to: 8, color: "rgb(80,241,0)"},
               {from: 8, to: 10, color: "rgb(241,221,0)"},
               {from: 10, to: 12, color: "rgb(241,0,0)"}
           ],
           highlightsWidth: 10,
           valueDec: 2,
       });

    function get_all_values() {

        $.ajax({
            url: '/askpython',
            type: "POST",
            data: JSON.stringify({
                Instruction: "get_data",
                Argument_1: 0,
                Argument_2: 0
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                //console.log(response);
                Voltage = response.Voltage.toFixed(1)
                Current = response.Current.toFixed(1)
                Temperature_PA = response.Temperature_PA.toFixed(1)
                Temperature_Ambient = response.Temperature_Ambient.toFixed(1)
                AMMETER.value = Current
                AMMETER.update({units: Current + ' A'});
            }
        })
    }

    async function init_instruments() {
        var meter_animation_duration = 300;
        AMMETER.update({animationDuration: meter_animation_duration});
        AMMETER.draw();
        AMMETER.value = AMMETER.options.maxValue;
        await sleepNow(meter_animation_duration)
        AMMETER.value = AMMETER.options.minValue;
        await sleepNow(meter_animation_duration)
        meter_animation_duration = 1000
        AMMETER.update({animationDuration: meter_animation_duration});

        get_all_values()
        setInterval(function () {
            get_all_values()
        }, 1000);
    }

    window.addEventListener('load', function () {
        document.fonts.ready
        init_instruments()
    });
    const sleepNow = (delay) => new Promise((resolve) => setTimeout(resolve, delay))

</script>
</html>
